* {
  box-sizing: border-box;
}

:root {
  --escalahorizontal:  1;
  --escalavertical: 1;
  }

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

body {
  background-color: #fcf5f5;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

#contenido {
  position: absolute;
  width: 1440px;
  height: 5020px;
  padding-left: 60px;
  background: #fcf5f5;
}

#estrella {
  float: left;
}

#estrella img{
  //height: 50px;
  width: calc(var(--escalavertical)*50px);
}

#nombre {
  float: left;
  padding: 16px 0px 14px 8px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
}

#top {
  display:  block;
}

#logo {
  float:  left;
  margin-right:  300px;
}

.topnav {
  float:  left;
  background-color: #333;
  overflow: hidden;


  display: flex;
  flex-direction: row;
  align-items: center;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 0px 14px 4px;
  text-decoration: none;
  font-size: 17px;
  text-align:center;
  width: 100%;
}

.btnnav:hover {
  background-color: #ddd;
  color: black;
}
.btnnav:active {
  background-color: #04AA6D;
  color: white;
}

.btnnav {
  width: 100px;
  display: inline-block;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #464646;

}

#btnmail {
  width: 250px;
  font-weight: bold;
}

#presentacion {

}

#textopresentacion {
  float: left;
  width:  1069px;
  padding-top: 30px;
}

#titulopresentacion {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 61px;
}

#descripcionpresentacion {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.linkpersonal {
  float: left;
  margin-top: 10px;
  margin-right: 22px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

}

.linkpersonal a:link {
  text-decoration: none;
  color: #464646;
}

.linkpersonal a:visited {
  text-decoration: none;
  color: #464646;
}

.flecha {
  margin-left: 5px;
}

#foto {
  float: left;
}

#foto img {
  margin-top: 15px;
  /*width: 200px;*/
  width: calc(var(--escalahorizontal)*200px);
  border-radius: 50%;
}

#sobremi {
  padding-top: 30px;
  clear: both;
  width:  1100px;
  background: #EAF2FD;
}

#titulosobremi {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

#textosobremi {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

#firma img{
  /*width:  140px;*/
  width: calc(var(--escalahorizontal)*140px);
}

.areadetalles {
  clear:  both;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-top: 30px;
}

.titulodetalles {
  padding-top: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px; 
  text-align: center; 
}

.miitem {
  margin-top: 120px;
  margin-right: 25px;
  width: 100px;
  float: left;
  text-align: center;
  background-color: white;
}

.miitem img {
   margin-left:  30%;
   height:  37px;
   display:  block;
}

.itemformacion {
  margin-top: 40px;
  margin-right: 10px;
  width:  200px;
  float: left;
}

.cuadroformacion {
  margin-right: 75px;
  height: 200px;
  width:  200px;
  background-color: white;
  text-align: center;
}

.cuadroformacion img{
  width:  100%;
}

.tituloitem {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
}

.detalleitem {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.itemexperiencia {
  margin-right: 10px;
  width:  90%;
  float: left;
  margin-top:  30px;
}

.cuadroexperiencia {
  width:  50%;
  background-color: white;
  text-align: center;
  float: left;

}

.imagenizquierda {
  padding-left: 60%;
  width:  100%;
}

.imagenderecha
{
  padding-left:  10%;
  padding-right:  50%;
  width: 100%;
}

.bloqueexperiencia {
  padding-left: 5%;
  float: left;
  width:  50%;
}
.tituloexperiencia {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  display: block;
  padding-bottom: 2%;
}

.detalleexperiencia {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: block;
}